Updates to keyboard shortcuts … On Thursday, August 1, 2024, Drive keyboard shortcuts will be updated to give you first-letters navigation.Learn more
.Notifications {
	border: 4px dotted var(--color--primary);
	padding: 2rem;
}

:root {
  --color--primary: #E10034;
}
